body{  
font-size: 16px;
line-height: 22px;
color: #000;
font-family: Soleil,Helvetica,Arial,sans-serif;

}

.container {
    max-width: 1220px;
    margin: 0 auto;
    
}

#main-header .container {
    height: 130px;
    border-bottom: 1px solid rgb(138, 138, 138);
    align-items: center;
    display: flex;
}

.main-navigation {

    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

.main-navigation ul {
    font-size: 13px;
    line-height: 21px;
}

.main-navigation li { 
display: inline-block;
margin-left: 28px;
padding-bottom: 22px;
position: relative;

}
.utility-navigation {
    display: inline-block;
    margin-left: auto;
}

.utility-navigation ul {
    font-size: 13px;
    line-height: 21px;
}

.utility-navigation li { 
    display: inline-block;
    margin: 0 5px;
    position: relative;
    vertical-align: middle;
    

}



a{
    text-decoration: none;

}

.main-navigation a {
    color: #1b1b1b;
    font-weight: bold;
}

.utility-navigation a {
    color: #00a82d;
}

.button-online {

    border-radius: 3px;
    border: 2px solid #00a82d;
    padding: 0 10px;
}



.feature-background {
    color: #ffffff;
    background-color: #00a82d;
    background-image: url(../img/main-green.png);
    background-repeat: repeat;
}


.feature-background .container {

    align-items: center;
    display: flex;

}

.feature-background .content, 
.feature-background .image {
    padding: 0 40px 0 0;
    width: 50%;

}

.feature-background .content h1 { 
font-size: 56px;
line-height: 72px;
margin-bottom: 20px;

}

.feature-background .content h4 {
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 35px;

}

a.button-hero {

    display: inline-block;
    line-height: normal;
    text-decoration: none;
    color: #00a82d;
    text-align: center;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 18px 32px 17px;
    letter-spacing: 1.5px;

}

img.image {
    height: auto;
    max-width: 100%;
    width: auto;
}

.feature-background .clear {

    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1220px;
    padding: 120px 0;
    box-sizing: border-box;
}
